__pycache__
build/
bin
data/components/common/__pycache__
tests/database/basic/database/
tests/database/advanced/database/
tests/database/multi_stage_base/database/
tests/database/basic/data/
tests/database/advanced/data/
tests/database/multi_stage_base/data/
deprecated/

.vs*
*.o
*.exe
*.db
*.pch
*.gch
third_party
*.obj
*_log/
*_build/
*.ilk
*.pdb
*.swp
imgui.ini
*.hxx
*.cxx

